$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;
@import "~bootstrap/scss/bootstrap";

///var
$mainColor: #63666f;

@font-face {
  font-family: 'Roboto';
  color: $mainColor;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  color: $mainColor;
  font-family: $font-stack;
}